<a href="https://colab.research.google.com/github/ilayyd/HomeWork/blob/main/Hafta3_Pandas_Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded = files.upload()

Saving Titanic_dataset.csv to Titanic_dataset.csv

In [2]:
import pandas as pd

df_titanic = pd.read_csv("Titanic_dataset.csv")
df_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

***1. Kazada ölenlerin yaş ortalamasını bulunuz.***

In [3]:
mean_age_of_dead = df_titanic[df_titanic['Survived'] == 0]['Age'].mean()
print("Kazada ölenlerin yaş ortalaması: ", mean_age_of_dead)

Kazada ölenlerin yaş ortalaması:  30.62617924528302

***2. Kazada ölenlerin bilet fiyatlarının ortalamasını ve medyanını bulunuz.***

In [5]:
dead_fares = df_titanic[df_titanic['Survived'] == 0]['Fare']
print("Kazada ölenlerin bilet fiyatlarının ortalaması: ", dead_fares.mean())
print("Kazada ölenlerin bilet fiyatlarının medyanı: ", dead_fares.median())

Kazada ölenlerin bilet fiyatlarının ortalaması:  22.117886885245902
Kazada ölenlerin bilet fiyatlarının medyanı:  10.5

***3. Kazada ölen erkeklerin yaş ortalamasını bulunuz.***

In [6]:
mean_age_of_dead_mans = df_titanic[(df_titanic['Survived'] == 0) & (df_titanic['Sex'] == 'male')]['Age'].mean()
print("Kazada ölen erkeklerin yaş ortalaması: ", mean_age_of_dead_mans)

Kazada ölen erkeklerin yaş ortalaması:  31.618055555555557

***4. Kazada ölen Kadınların yaş ortalamasını bulunuz.***

In [7]:
mean_age_of_dead_womans = df_titanic[(df_titanic['Survived'] == 0) & (df_titanic['Sex'] == 'female')]['Age'].mean()
print("Kazada ölen kadınların yaş ortalaması: ", mean_age_of_dead_womans)

Kazada ölen kadınların yaş ortalaması:  25.046875

***5. Kazadan kurtulanların yaş ortalamasını bulunuz.***

In [8]:
mean_age_of_survived = df_titanic[df_titanic['Survived'] == 1]["Age"].mean()
print("Kazadan kurtulanların yaş ortalaması: ", mean_age_of_survived)

Kazadan kurtulanların yaş ortalaması:  28.343689655172415

***6. Kazadan kurtulanların bilet fiyatlarının ortalamasını bulunuz.***

In [9]:
survived_fare_mean = df_titanic[df_titanic['Survived'] == 1]['Fare'].mean()
print("Kazadan kurtulanların bilet fiyatlarının ortalaması: ", survived_fare_mean)

Kazadan kurtulanların bilet fiyatlarının ortalaması:  48.39540760233918

***7. Kazadan kurtulan toplam kişi sayısını bulunuz.***

In [11]:
print("Kazadan kurtulan toplam kişi sayısı: ", len(df_titanic[df_titanic['Survived'] == 1]))

Kazadan kurtulan toplam kişi sayısı:  342

***8. 10 yaşından küçüklerin bilet fiyatlarının medyan değerini bulunuz.***

In [12]:
under_ten_years_old_median = df_titanic[df_titanic['Age'] < 10]['Fare'].median()
print("10 yaşından küçüklerin bilet fiyatlarının medyanı: ", under_ten_years_old_median)

10 yaşından küçüklerin bilet fiyatlarının medyanı:  27.0

***9. 1.sınıf, 2.sınıf ve 3.sınıf bilet fiyatlarının ortalama ve medyanlarını karşılaştırınız.***

In [13]:
fare_class_1_mean = df_titanic[df_titanic['Pclass'] == 1]['Fare'].mean()
fare_class_1_median = df_titanic[df_titanic['Pclass'] == 1]['Fare'].median()
fare_class_2_mean = df_titanic[df_titanic['Pclass'] == 2]['Fare'].mean()
fare_class_2_median = df_titanic[df_titanic['Pclass'] == 2]['Fare'].median()
fare_class_3_mean = df_titanic[df_titanic['Pclass'] == 3]['Fare'].mean()
fare_class_3_median = df_titanic[df_titanic['Pclass'] == 3]['Fare'].median()

print("1. Sınıf Bilet Fiyatları Ortalaması: ", fare_class_1_mean)
print("1. Sınıf Bilet Fiyatları Medyanı: ", fare_class_1_median)
print("2. Sınıf Bilet Fiyatları Ortalaması: ", fare_class_2_mean)
print("2. Sınıf Bilet Fiyatları Medyanı: ", fare_class_2_median)
print("3. Sınıf Bilet Fiyatları Ortalaması: ", fare_class_3_mean)
print("3. Sınıf Bilet Fiyatları Medyanı: ", fare_class_3_median)

1. Sınıf Bilet Fiyatları Ortalaması:  84.1546875
1. Sınıf Bilet Fiyatları Medyanı:  60.287499999999994
2. Sınıf Bilet Fiyatları Ortalaması:  20.662183152173913
2. Sınıf Bilet Fiyatları Medyanı:  14.25
3. Sınıf Bilet Fiyatları Ortalaması:  13.675550101832993
3. Sınıf Bilet Fiyatları Medyanı:  8.05

In [14]:
df_titanic.groupby('Pclass')['Fare'].agg(['mean', 'median'])

             mean   median
Pclass
1       84.154687  60.2875
2       20.662183  14.2500
3       13.675550   8.0500

***10. Kazada ölen kadınların oranı ile erkeklerin oranını karşılaştırınız.***

In [15]:
dead_women_ratio = len(df_titanic[(df_titanic['Survived'] == 0) & (df_titanic['Sex'] == 'female')]) / len(df_titanic[df_titanic['Sex'] == 'female'])
dead_men_ratio = len(df_titanic[(df_titanic['Survived'] == 0) & (df_titanic['Sex'] == 'male')]) / len(df_titanic[df_titanic['Sex'] == 'male'])

print("Kazada ölen kadınların oranı: ", dead_women_ratio)
print("Kazada ölen erkeklerin oranı: ", dead_men_ratio)

Kazada ölen kadınların oranı:  0.25796178343949044
Kazada ölen erkeklerin oranı:  0.8110918544194108